<section class="px-3">
    <div class="page-title container-fluid">
        <div class="row ">
            <div class="one col-md-8 p-5 w-75 ">
                <h1 class="ms-3">Welcome
                    <span>{{userName}}</span>
                </h1>
                <p class="ms-5">This is a welcoming screen for the entry of the application <br> you can now see the options</p>
            </div>
            <div class="col-md-4 mt-3 category-img w-25">
                <img src="../../../assets/images/eating vegan food-rafiki.png" alt="">
            </div>
        </div>
</div>
</section>