<section class="categories px-3">
    <div class="page-title container-fluid">
            <div class="row ">
                <div class="col-md-8 p-5">
                    <h1 class="ms-3">Users
                        <span>Item</span>
                    </h1>
                    <p class="ms-5">You can now add your items that any user can order <br> it from the Application and you can edit</p>
                </div>
                <div class="col-md-4  mt-3 recipe-img">
                    <img  src="../../../../../../../assets/images/eating-avatar.svg" alt="">
                </div>
            </div>
    </div>

    <div class="container">
        <div class="row">
                <div class="middle col-md-11 ">
                    <div class=" d-flex align-content-center justify-content-between my-3">
                        <p>Users Table Details <br>
                            <span>
                                You can check all details
                            </span>
                        </p>
                    </div>
                </div>            
        </div>
    </div>
    
    <div class="filter-container">
      <mat-form-field class="search-field">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search here ..." [(ngModel)]="searchQuery" (keyup)="onSearchInputChange()" />
      </mat-form-field>

      <mat-form-field class="dropdown-field">
        <mat-select placeholder="Group" [(ngModel)]="tableQueryParams.groups" (selectionChange)="getUsersData()">
            <mat-option *ngFor="let group of groupList" [value]="group.id">
                {{ group.name === 'SystemUser' ? 'User' : group.name === 'SuperAdmin' ? 'Admin' : group.name }}
            </mat-option>          
        </mat-select>
      </mat-form-field>
<button mat-raised-button color="warn" (click)="clearFilters()">Clear Filters</button>

    </div> 
    <div *ngIf="usersList.length === 0" class="my-3 no-data-container d-flex align-items-center justify-content-center">
      <img src="../../../../../../../assets/images/no-data.png" alt="No Data Available" class=" no-data-image">
    </div>
    <div class="d-none d-lg-block">
        <table *ngIf="usersList.length > 0" class="w-100 table table-striped">
            <thead>
                <th>Name</th> 
                <th>Image</th>
                <th>Email</th>
                <th>Country</th>
                <th>Phone Number</th>
                <th>group</th>
            </thead>
            <tbody>
              
                <tr *ngFor="let user of usersList">
    
                    <td>{{ user.userName }}</td>
                    <td>
                      <img [src]="getUserImage(user.imagePath)" alt="User Image" class="avatar">
                  </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.country }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>
                        {{ user.group?.name === 'SystemUser' ? 'User' : user.group?.name === 'SuperAdmin' ? 'Admin' : user.group?.name }}
                      </td>
                </tr>
    
            </tbody>
                
        </table>
    </div>
    <div class="d-block d-lg-none">
        <!-- Cards for small screens -->
        <div *ngFor="let user of usersList" class="card my-2 p-2 shadow-sm recipe-card">
            <div class="d-flex align-items-center">
                <img [src]="getUserImage(user.imagePath)" class="avatar me-2 rounded-3">
                <div>
                    <h6 class="mb-2">{{ user.userName }}</h6>
                    <small class="text-muted d-block"><strong>Email:</strong> {{ user.email }}</small>
                    <small class="text-muted d-block"><strong>Phone:</strong> {{ user.phoneNumber }}</small>
                    <small class="text-muted"><strong>Country:</strong> {{ user.country + "   "}}</small>
                    <small class="text-muted "><strong>Group:</strong>
                        {{ user.group?.name === 'SystemUser' ? 'User' : user.group?.name === 'SuperAdmin' ? 'Admin' : user.group?.name }}
                    </small>
                </div>
              
            </div>
        </div>
    </div>
    
    <mat-paginator
    *ngIf="usersList.length > 0"
    (page)="handlePageEvents($event)"
    [pageIndex]="tableQueryParams.pageNumber -1"
    [length]="tableRes?.totalNumberOfRecords"
    [pageSize]="tableQueryParams.pageSize"
    [pageSizeOptions]="[5, 10, 15, 20, 25]"
    aria-label="Select page">
</mat-paginator>
</section>