<section>
    <div class="container">
        <div class="row vh-100 justify-content-center align-items-center">
            <div class="col-lg-7">
                <div class="auth-form px-5"> 
                    <div class="logo w-75 m-auto">
                        <img class="w-100 mb-5" src="../../assets/images/4 4.svg" alt="">
                    </div>
                    <div class="title mb-5">
                        <h2>Change Your Password?</h2>
                    </div>
                    <form class="mb-5" [formGroup]="changePasswordForm" (ngSubmit)="sendData(changePasswordForm)">
                        <div class="input-form mb-3 p-2">
                            <div class="input-group">
                              <span class="input-group-text icon-style border-0"
                                ><i class="fa-solid fa-lock"></i
                              ></span>
                              <input
                                [type]="isPasswordHidden ? 'password' : 'text'"
                                formControlName="oldPassword"
                                class="form-control input-form"
                                placeholder="Enter your oldPassword"
                              />
                              <a (click)="isPasswordHidden = !isPasswordHidden">
                                <span class="input-group-text eye-icon">
                                  <i
                                    class="fa-solid"
                                    [class]="isPasswordHidden ? 'fa-eye-slash' : 'fa-eye'"
                                  ></i>
                                </span>
                              </a>
                            </div>
                            <small
                              class="text-danger d-block mt-1"
                              *ngIf="changePasswordForm?.get('oldPassword')?.touched"
                            >
                              <span
                                *ngIf="changePasswordForm?.get('oldPassword')?.errors?.['required']; else checkMinLength"
                              >
                                Password is required.
                              </span>
                              <ng-template #checkMinLength>
                                <span
                                  *ngIf="changePasswordForm?.get('oldPassword')?.errors?.['minlength']; else checkPattern"
                                >
                                  Password must be at least 6 characters.
                                </span>
                              </ng-template>
                              <ng-template #checkPattern>
                                <span
                                  *ngIf="changePasswordForm?.get('oldPassword')?.errors?.['pattern']"
                                >
                                  The password must include at least one lowercase letter,
                                  one uppercase letter, one digit, and one special
                                  character.
                                </span>
                              </ng-template>
                            </small>
                          </div>  


                          <div class="input-form mb-3 p-2">
                            <div class="input-group">
                              <span class="input-group-text icon-style border-0"
                                ><i class="fa-solid fa-lock"></i
                              ></span>
                              <input
                                [type]="isPasswordHidden ? 'password' : 'text'"
                                formControlName="newPassword"
                                class="form-control input-form"
                                placeholder="Enter your newPassword"
                              />
                              <a (click)="isPasswordHidden = !isPasswordHidden">
                                <span class="input-group-text eye-icon">
                                  <i
                                    class="fa-solid"
                                    [class]="isPasswordHidden ? 'fa-eye-slash' : 'fa-eye'"
                                  ></i>
                                </span>
                              </a>
                            </div>
                            <small
                              class="text-danger d-block mt-1"
                              *ngIf="changePasswordForm?.get('newPassword')?.touched"
                            >
                              <span
                                *ngIf="changePasswordForm?.get('newPassword')?.errors?.['required']; else checkMinLength"
                              >
                                Password is required.
                              </span>
                              <ng-template #checkMinLength>
                                <span
                                  *ngIf="changePasswordForm?.get('newPassword')?.errors?.['minlength']; else checkPattern"
                                >
                                  Password must be at least 6 characters.
                                </span>
                              </ng-template>
                              <ng-template #checkPattern>
                                <span
                                  *ngIf="changePasswordForm?.get('newPassword')?.errors?.['pattern']"
                                >
                                  The password must include at least one lowercase letter,
                                  one uppercase letter, one digit, and one special
                                  character.
                                </span>
                              </ng-template>
                            </small>
                          </div>

                          <div class="input-form mb-3 p-2">
                            <div class="input-group">
                              <span class="input-group-text icon-style border-0"
                                ><i class="fa-solid fa-lock"></i
                              ></span>
                              <input
                                [type]="isConfirmNewPasswordHidden ? 'password' : 'text'"
                                formControlName="confirmNewPassword"
                                class="form-control input-form"
                                placeholder="Confirm Password"
                              />
                              <a (click)="isConfirmNewPasswordHidden = !isConfirmNewPasswordHidden">
                                <span class="input-group-text eye-icon">
                                  <i
                                    class="fa-solid"
                                    [class]="isConfirmNewPasswordHidden ? 'fa-eye-slash' : 'fa-eye'"
                                  ></i>
                                </span>
                              </a>
                            </div>
                            <small
                              class="text-danger d-block mt-1"
                              *ngIf="changePasswordForm?.get('confirmNewPassword')?.touched"
                            >
                              <span
                                *ngIf="changePasswordForm?.get('confirmNewPassword')?.errors?.['required']; else mismatchError"
                              >
                                Confirm Password is required.
                              </span>
                              <ng-template #mismatchError>
                                <span *ngIf="changePasswordForm?.errors?.['mismatch']">
                                  Passwords do not match.
                                </span>
                              </ng-template>
                            </small>
                          </div>
                          <div>
                            <button class="primary-color w-100 mt-5"[disabled]="changePasswordForm.invalid"
                            [ngStyle]="{'pointer-events': changePasswordForm.invalid ? 'none' : 'auto' }">Submit</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>