<section>
    <div class="container">
      <div class="row min-vh-100 justify-content-center align-items-center">
        <div class="col-lg-10">
          <div class="auth-form py-2">
            <div class="logo w-50 m-auto mt-0 mb-3" [class.w-100]="isSmallScreen" [class.w-50]="!isSmallScreen">
              <img class="w-100" src="../../../../assets/images/4 4.svg" alt="Logo" />
            </div>
            <div class="title">
              <h2>{{pageTitle}}</h2>
            </div>
            <form class="form-container" [formGroup]="updateForm" (ngSubmit)="sendData(updateForm)">
              <div class="row justify-content-between">
                <div [class.disabled-upload]="isViewMode" class="image-upload-wrapper">
                  <ngx-file-drop
                    (onFileDrop)="dropped($event)"
                    accept="image/*"
                    [multiple]="false"
                    dropZoneLabel=""
                    dropZoneClassName="hidden-dropzone"
                    [showBrowseBtn]="true"
                    browseBtnClassName="custom-browse-btn"
                  >
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                      <div class="upload-area" (click)="openFileSelector()">
                        <ng-container *ngIf="imagePreview">
                          <div class="image-container">
                            <img [src]="imagePreview" alt="Preview" class="img-preview">
                            <i class="fa fa-close delete-icon" (click)="deleteImage()"></i>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="!imagePreview">
                          <p class="mt-2">Upload Image</p>
                        </ng-container>
                      </div>
                    </ng-template>
                  </ngx-file-drop>
                </div>
                
  
                <div class="col-md-6">
                  <div class="input-form mb-3 p-2">
                    <div class="input-group">
                      <span class="input-group-text icon-style border-0"><i class="fa-solid fa-user"></i></span>
                      <input type="text" formControlName="userName" class="form-control input-form" placeholder="UserName" aria-label="UserName" />
                    </div>
                    <small class="text-danger d-block mt-1" *ngIf="updateForm?.get('userName')?.invalid && updateForm?.get('userName')?.touched">
                      <span *ngIf="updateForm?.get('userName')?.errors?.['required']; else minlengthError">
                        UserName is required.
                      </span>
                      <ng-template #minlengthError>
                        <span *ngIf="updateForm?.get('userName')?.errors?.['minlength']; else maxlengthError">
                          UserName must be at least 3 characters.
                        </span>
                      </ng-template>
                      <ng-template #maxlengthError>
                        <span *ngIf="updateForm?.get('userName')?.errors?.['maxlength']; else patternError">
                          The userName may not be greater than 8 characters.
                        </span>
                      </ng-template>
                      <ng-template #patternError>
                        <span *ngIf="updateForm?.get('userName')?.errors?.['pattern']">
                          The userName must contain characters and end with numbers without spaces.
                        </span>
                      </ng-template>
                    </small>
                  </div>
  
                  <div class="input-form mb-3 p-2">
                    <div class="input-group">
                      <span class="input-group-text icon-style border-0"><i class="fa-solid fa-earth-americas"></i></span>
                      <input type="text" formControlName="country" class="form-control input-form" placeholder="Country" aria-label="Country" />
                    </div>
                    <small class="text-danger d-block mt-1" *ngIf="updateForm?.get('country')?.invalid && updateForm?.get('country')?.touched">
                      <span *ngIf="updateForm?.get('country')?.errors?.['required']">Country is required.</span>
                    </small>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="input-form mb-3 p-2">
                    <div class="input-group">
                      <span class="input-group-text icon-style border-0"><i class="fa-solid fa-envelope"></i></span>
                      <input type="email" formControlName="email" class="form-control input-form" placeholder="Enter your E-mail" aria-label="email" />
                    </div>
                    <small class="text-danger d-block mt-1" *ngIf="updateForm?.get('email')?.invalid && updateForm?.get('email')?.touched">
                      <span *ngIf="updateForm?.get('email')?.errors?.['required']">Email is required.</span>
                      <span *ngIf="updateForm?.get('email')?.errors?.['email']">Enter a valid email.</span>
                    </small>
                  </div>
  
                  <div class="input-form mb-3 p-2">
                    <div class="input-group">
                      <span class="input-group-text icon-style border-0"><i class="fa-solid fa-phone"></i></span>
                      <input type="text" formControlName="phoneNumber" class="form-control input-form" placeholder="PhoneNumber" aria-label="PhoneNumber" />
                    </div>
                    <small class="text-danger d-block mt-1" *ngIf="updateForm?.get('phoneNumber')?.invalid && updateForm?.get('phoneNumber')?.touched">
                      <span *ngIf="updateForm?.get('phoneNumber')?.errors?.['required']">Phone number is required.</span>
                    </small>
                  </div>
                </div>
                
                <div class="col-md-6 m-auto">
                    <div class="input-form mb-3 p-2">
                  <div class="input-group">
                    <span class="input-group-text icon-style border-0"
                      ><i class="fa-solid fa-lock"></i
                    ></span>
                    <input
                      [type]="isPasswordHidden ? 'password' : 'text'"
                      formControlName="confirmPassword"
                      class="form-control input-form"
                      placeholder="Password"
                    />
                    <a (click)="isPasswordHidden = !isPasswordHidden">
                      <span class="input-group-text eye-icon">
                        <i
                          class="fa-solid"
                          [class]="isPasswordHidden ? 'fa-eye-slash' : 'fa-eye'"
                        ></i>
                      </span>
                    </a>
                  </div>
                  <small
                    class="text-danger d-block mt-1"
                    *ngIf="updateForm?.get('password')?.touched"
                  >
                    <span
                      *ngIf="updateForm?.get('password')?.errors?.['required']; else checkMinLength"
                    >
                      Password is required.
                    </span>
                    <ng-template #checkMinLength>
                      <span
                        *ngIf="updateForm?.get('password')?.errors?.['minlength']; else checkPattern"
                      >
                        Password must be at least 6 characters.
                      </span>
                    </ng-template>
                    <ng-template #checkPattern>
                      <span
                        *ngIf="updateForm?.get('password')?.errors?.['pattern']"
                      >
                        The password must include at least one lowercase letter,
                        one uppercase letter, one digit, and one special
                        character.
                      </span>
                    </ng-template>
                  </small>
                </div>
                </div>
              
              </div>
  
              <div class="d-flex justify-content-center my-3">
                <button *ngIf="!isViewMode" type="submit" class="primary-color w-50"
                [disabled]="updateForm.invalid"
                [ngStyle]="{ 'pointer-events': updateForm.invalid ? 'none' : 'auto' }">
                Update
              </button>
              </div>
            </form>
           <div class="d-flex justify-content-center my-3">
            <button *ngIf="isViewMode" [routerLink]="['/dashboard/profile/', userId]"
            class="primary-color w-50">
               Edit
            </button>
           </div>
          </div>
        </div>
      </div>
    </div>
  </section>